@font-face {
  font-family: 'acinema';
  src: url(../font/acinema_M.ttf) format('opentype');
  font-weight: 500;
}

* {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.hidden {
  display: none;
}

.container {
  height: 100vh;
  padding: 30px 0;
}

.container::before,
.container::after {
  position: absolute;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 30%;
  background: rgb(0, 0, 0);
}

.container::before {
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.container::after {
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "header header header"
    "greeting greeting greeting "
    "quote quote todo"
  ;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100%;
}

.head {
  grid-area: header;
}

.greeting-area {
  grid-area: greeting;
}

.quote-area {
  grid-area: quote;
  align-self: flex-end;
}

.todo-list-box {
  grid-area: todo;
}

/* 시계 */
#clock {
  position: relative;
  z-index: 1;
  text-align: center;
}


/* 투두리스트 */
/* 할일 적는 란 */
#todo-form {}

#todo-form input {
  width: 100%;
  padding: 2%;
  font-size: 16px;
}

#todo-form input::placeholder {
  color: rgba(255, 255, 255, .5)
}

.todo-list-box {
  margin-left: auto;
  width: 300px;
}

.text_box {
  width: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, .8);
  overflow: hidden;
}

.text_box h2 {
  padding: 8px 20px;
  font-size: 16px;
  background: #dbcf02;
}

.text_box .content {
  padding: 8px 20px;
}

.text_box input {
  color: #fff;
}

#todo-list {
  color: #fff;
}

#todo-list li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 5px 3px;
}

#todo-list li+li {
  border-top: 1px solid rgba(255, 255, 255, .2);
}


#todo-list li span {
  vertical-align: middle;
}

#todo-list .delete-btn {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../img/circle-xmark-regular.svg") no-repeat center /100%;
  filter: invert(99%) sepia(0%) saturate(28%) hue-rotate(69deg) brightness(47%) contrast(100%);
  cursor: pointer;
}

/* 적는란 */
.login_area {
  display: inline-block;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, .6);
  padding: 10px;
  border-radius: 10px;
}

input {
  width: 500px;
  background: none;
  border: none;
  font-size: 20px;
  outline: none;
  color: #fff;
}

.login_area button {}

#greeting {
  margin-top: 50px;
  font-size: 50px;
}


/* 배경이미지 */
#bg_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

#bg_wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  /* content: ""; */
  width: 100%;
  height: 100%;
  background: rgb(220 149 66 / 12%);
}

#bg_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#weather {
  position: absolute;
  right: calc(100vw - (1000 / 2));
  top: 30px;
  color: #dbcf02;
}

#quote {
  /* position: absolute;
  left: 50%;
  bottom: 7%;
  z-index: 1;
  width: 100%;
  transform: translateX(-50%); */
  font-size: 30px;
  font-family: 'acinema';
}

#quote span {
  display: block;
  text-align: center;
  word-break: keep-all;
}

#quote .autior {
  margin-top: 10px;
}

#quote .autior::before,
#quote .autior::after {
  content: "-"
}

.cine_font {
  font-family: 'acinema';
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  color: #dbcf02;
}